@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ea384c;
}

body {
  @apply antialiased text-gray-100 bg-gradient-to-b from-gray-900 to-gray-800 min-h-screen;
}

#app {
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}